<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Add snippet</label>
    <input type="snippet" class="form-control" id="adding_snippet">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>