<footer class="footer">
  <div class="container">
    <span class="text-muted">Code licensed <a href="https://opensource.org/licenses/MIT" target="_blank" rel="license noopener">MIT</a>, exercise <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener">Creative Commons Attribution 4.0 International License</a>.</p></span>
  </div>
</footer>