<h1><span class="far fa-plus-square"></span> Create Code snippet</h1>
<form method="post" action="/add">
  <input type="text" name="author" placeholder="Author"><br><br>
  <textarea cols="40" rows="5" placeholder="Code snippet" name="snippet"></textarea><br>
  <button type="submit" class="btn btn-primary">Add</button>
</form>