<h1>Update your code snippet</h1>
<form method="post" action="/edit/{{this.id}}"><br>
  <h3>{{this.author}}</h3>
  <textarea cols="40" rows="5" name="snippet">{{this.snippet}}</textarea><br>
  <button type="submit" class="btn btn-primary">Update</button>
</form>