<h2>Snippets</h2>

<table class="table table-hover">
  <head class="thead-light">
    <tr>
      <th>Author</th>
      <th>Code snippet</th>
    </tr>
  </head>
  <body> 
    <ul class="list-group">
    {{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
    <tr>
      <td><a href="/viewSnippet/{{this.id}}">{{this.author}}</a></td>
      <td>{{this.snippet}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr colspan="2">
      <td class="text-center">No snippets to display.</td>
    </tr>
    {{/if}}
    </ul>
  </body>
</table>