<h1><span class="far fa-plus-square"></span>Login</h1>
<form method="post" action="/login">
 Username: <br><input type="text" name="username"><br><br>
 Password: <br><input type="password" name="password"></input><br><br>
 <button type="submit" class="btn btn-primary">Log in</button>
</form>