<h1><span class="far fa-plus-square"></span>Register</h1>
<form method="post" action="/register">
 Username: <br><input type="text" name="username"><br><br>
 Password: <br><input type="password" name="password"></input><br><br>
 Confirm password: <br><input type="password" name="password2"></input><br><br>
  <button type="submit" class="btn btn-primary">Register</button>
</form>