<div class="snippet">
  <h1>Code snippet</h1><br>
  <form class="snippetForm">
    <h5>Author: {{this.author}}</h5>
    <p>Code snippet: {{this.snippet}}</p>
  </form>
  <a href="/edit/{{this.id}}">Edit</a>
  <a href="/delete/{{this.id}}">Delete</a>
</div>