<div class="snippet">
  <h1>Code snippet</h1>
  <form class="snippetForm">
    <h3>{{this.author}}</h3>
    <p>{{this.snippet}}</p>
  </form>
  <a href="/snippets/edit/{{this.id}}">Edit</a>
  <a href="/snippets/delete/{{this.id}}">Delete</a>
</div>